body {
    margin: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

.text-orange {
    color: orangered;
}

.bg-orange {
    background-image: linear-gradient( orange, tomato);
}

.top-banner .half-width {
    width: 45%;
}

.top-banner img {
    width: 80%;
    float: right;
}

.top-banner {
    display: flex;
}

.top-banner .first-slice {
    padding-top: 120px;
    margin-left: 5%;
}

.top-banner p {
    padding-right: 50px;
    margin-bottom: 50px;
    color: gray;
}

.top-banner .second-slice {
    padding-top: 50px;
    margin-right: 5%;
}

.link-btn {
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.second-banner {
    margin-top: 100px;
    width: 100%;
    display: flex;
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
    padding: 20px 50px;
}

.second-banner img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.second-banner .half-width {
    width: 50%;
    padding: 20px 50px;
}

.second-banner p {
    padding-right: 50px;
    margin-bottom: 50px;
    color: gray;
}

.second-banner .second-slice p {
    padding-right: 100px;
}

.recipie-container {
    width: 100%;
}

.recipie-list {
    display: flex;
    justify-content: space-evenly;
}

.recipie {
    width: 20%;
    justify-content: space-around;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    border-radius: 20px;
}

.recipie img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.recipie-container .heading {
    width: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.info-area {
    margin-top: 100px;
    /* padding: 20px 50px; */
}

.info-container {
    padding: 20px 20px;
    width: 80%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0 20px gray;
}

.info {
    width: 20%;
    text-align: center;
}

.info h1 {
    margin-bottom: 0;
}

.info p {
    font-size: 15px;
}

footer {
    color: gray;
    margin-top: 100px;
    padding: 20px 50px;
    background-color: #142127;
}

footer p {
    margin-bottom: 100px;
    color: white;
    font-size: 15px;
}

.contact-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px gray;
}

.contact-info,
.map {
    width: 45%;
    margin: auto;
    text-align: center;
}

.find-us {
    margin-top: 100px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}