body {
    margin: 0;
}

h1 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'ABeeZee', sans-serif;
}

.text-orange {
    color: orangered;
}

.bg-orange {
    background-image: linear-gradient( orange, tomato);
}

.top-banner .half-width {
    width: 45%;
}

.top-banner img {
    width: 80%;
    float: right;
}

.top-banner {
    display: flex;
}

.top-banner .first-slice {
    padding-top: 120px;
    margin-left: 5%;
}

.top-banner p {
    padding-right: 50px;
    margin-bottom: 50px;
    color: gray;
}

.top-banner .second-slice {
    padding-top: 50px;
    margin-right: 5%;
}

.link-btn {
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

.second-banner {
    margin-top: 100px;
    width: 100%;
    display: flex;
    background-image: url(./images/7.png);
    background-repeat: no-repeat;
    padding: 20px 50px;
}

.second-banner img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.second-banner .half-width {
    width: 50%;
    padding: 20px 50px;
}

.second-banner p {
    padding-right: 50px;
    margin-bottom: 50px;
    color: gray;
}

.second-banner .second-slice p {
    padding-right: 100px;
}